<!DOCTYPE html>
<html lang="et">
<!-- http://greeny.cs.tlu.ee/~rinde/2025_vp/TA/TA_veeb/views/ -->

<head>
    <meta charset="utf-8">
    <title> |Testleht| </title>
    <link rel="stylesheet" href="/style/gallery.css">
    <script src="/script/gallery.js" defer>   </script>
</head>

<body>
    <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner" style="display: block; margin: 0 auto;">
    <h1>MartinS, juuniorprogeja</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLU</a> veebiprogemise kursusel, ei sisalda
        tõsist
        sisu</p>
    <p>See rida on lisatud kodus ja läbi Putty ja WinSCP üles laetud.</p>
    <p>Olen kokku puutunud Javascripti, Typescripti ja Javaga ning teinud mõned proovitööd ka tööpakkumistega seoses.
    </p>
    <p>Hobikorras tegelen klaveriõppega, samuti olen tegelenud laskespordiga ja motokrossiga.</p>
    <hr>

    <ul>
        <li><a href="/home"> Avaleht </a></li>
        <li><a href="/logout">Logi välja</a></li>

    </ul>
    <hr>
    <!-- dialoogi aken suuremate / normaalfotode näitamiseks -->
    <dialog id="modal" class="modalarea">
        <span id="modalClose" class="modalClose"> &times; </span>
        <div id="modalGallery" class="modalHorizontal">
            <div class="modalVertical">
                <p id="modalCaption"></p>
                <img id="modalImage" src="/images/empty.png" alt="galeriipilt">
            </div>
        </div>

    </dialog>


    <h2>Muuda andmeid</h2>
    <div class="edit-photo-form">
        <img src="<%= imagehref %><%= photo.filename %>" alt="<%= photo.alt_text || 'Galeriipilt' %>" class="thumbs">

        <form action="/photogallery/myphotos/<%= photo.id %>/edit" method="POST">
            <label for="altInput">Pildi alternatiivtekst:</label>
            <input type="text" id="altInput" name="altInput" value="<%= photo.alt_text %>"
                placeholder="Sellel pildil on ...">
                
            <input id="privacyInput1" name="privacyInput" type="radio" value="1">
            <label for="privacyInput1"> Privaatne </label>

            <input id="privacyInput2" name="privacyInput" type="radio" value="2">
            <label for="privacyInput2"> Sisseloginud kasutajatele </label>

            <input id="privacyInput3" name="privacyInput" type="radio" value="3" checked>
            <label for="privacyInput3"> Avalik / kõigile </label>

            <br><br>
            <button type="submit">Salvesta muudatused</button>
        </form>
    </div>



</body>

</html>